.td {
	margin-left: auto;
	margin-right: auto; border-style : solid;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #7DB1E3;
	border-style: solid;
}

.tdtitle {
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	background-color: #7DB1E3;
	border-style: solid;
	border-collapse: collapse;
	border-width: 1px;
	border-color: #7DB1E3
}

.table {
	width: 320px;
	border-collapse: collapse;
	border-style: solid;
	border-color: #7DB1E3;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto
}

.tablelist {
	width: 320px;
	margin-left: auto;
	margin-right: auto
}

.groovybutton {
	background-color: #7DB1E3;
	border: 0px;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	width: 100%
}

.groovybutton:hover {
	cursor: pointer;
}

.groovybutton:active {
	box-sizing: border-box; position : relative;
	top: 1px;
	bottom: 1px;
	position: relative;
}